<h2><%= @product_model.name %></h2>
<div>
  <strong>Fornecedor: </strong><%= @product_model.supplier.brand_name%>
  <strong>SKU: </strong><%= @product_model.sku%>
  <strong>Dimensões: </strong><%= @product_model.width%>cm x <%= @product_model.height%>cm x <%= @product_model.depth%>cm
  <strong>Peso: </strong><%= @product_model.weight%>g
</div>