<h2>Fornecedor: <%= @supplier.brand_name %></h2>
<h2><%= @supplier.corporate_name %></h2>

<div>
<strong>CNPJ: </strong><%= @supplier.registration_number %>
<strong>Endereço: </strong><%= @supplier.full_address %>, <%= @supplier.city %> - <%= @supplier.state %>
<strong>Email: </strong><%= @supplier.email %>
</div>

<div>
  <%= link_to 'Editar', edit_supplier_path %>
</div>
<div>
  <%= link_to 'Voltar', root_path %>
</div>